extends layout

block body
  div.container
    include flash
    h3
      | who owes whom
    p
      each owes,person in money
        each owedTo in people
          if owes[owedTo]
            | #{person} owes #{owedTo} #{owes[owedTo]}
    //- table.table
    //-   thead
    //-     th
    //-     each person in people
    //-       th
    //-         | #{person}
    //-   tbody
    //-     each owes,person in money
    //-       tr
    //-         td
    //-           strong
    //-             | #{person}
    //-         each owedTo in people
    //-           td
    //-             | #{owes[owedTo]}

    h3
      | the books
    br
    form.form-inline(role="form" method="POST")
      div.form-group
        select.form-control(name="from")
          option(value="" disabled selected)
            | from
          each person in people
            option(value="#{person}")
              | #{person}
        input.form-control(type="number" placeholder="amount" name="amount")
        select.form-control(name="to")
          option(value="" disabled selected)
            | to
          each person in people
            option(value="#{person}")
              | #{person}
          option
            | vendor
        input.form-control(type="text" placeholder="for what?" name="what")
      button.btn.btn-primary(type="submit")
        | Add
    br
    table.table.table-hover
      thead
        th
          | from
        th
          | to
        th
          | amount
        th
          | when
        th
          | for what?
      tbody
        each entry in payments
          tr
            td
              | #{entry.from}
            td
              | #{entry.to}
            td
              | #{entry.amount}
            td
              | #{entry.when_readable}
            td
              | #{entry.what}
